.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation__item-link {
  color: var(--text-main-color);
  opacity: 0.8;
  font-size: 25px;
  font-family: var(--second-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__balance {
  max-width: 218px;
  opacity: 0.9;
  border-radius: 20px;
  padding: 7px 30px;
  background-color: var(--balance-bg-color);
  font-size: 50px;
  font-family: var(--second-family);
  color: var(--text-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
